<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="page-header">
        <h1 class="page-title">Project</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card" *ngFor="let page of pages">
        <div class="card-title">{{ page.name }}</div>
        <div class="card-footer">
          <a class="btn btn-primary" [routerLink]="['/page', page.do_objectID]">Go</a>
        </div>
      </div>
      <div class="card"></div>
    </div>
  </div>
</div>
