<div class="artboard-header" #header>
  Header
</div>

<div class="artboard-main" #main>
  <div class="artboard-layers">
    <structure-panel [layers]="artboard.layers"></structure-panel>
  </div>

  <div class="artboard-canvas">
    <workspace [artboard]="artboard"></workspace>
<!--    <debug object-id="2A68AA26-DE41-4845-B365-E841ACD614FE"></debug>-->
  </div>

  <div class="artboard-sidebar">
    <attributes-panel></attributes-panel>
  </div>
</div>

<div id="text-workspace" style="position: absolute; left: -9999px;">
  <canvas id="canvas-text-canvas"></canvas>
  <div id="canvas-text-text"></div>
</div>
