@import '../../../assets/styles/variables';


:host {
  display: flex;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.artboard-main {
  display: flex;
  flex-grow: 1;
}

.artboard-header {
  width: 100%;
  border-bottom: 1px solid $border-color;
}

.artboard-layers {
  width: 200px;
  border-right: 1px solid $border-color;
}

.artboard-canvas {
  flex-grow: 1;
}

.artboard-sidebar {
  border-left: 1px solid $border-color;
  width: 200px;
}

.artboard-header,
.artboard-layers,
.artboard-sidebar {
  padding: $grid-gutter-width / 2;
}

