#preview-canvas {
  height: 100px;
  width: 200px;
}

.attr-section {
  overflow: hidden;

  dl {
    margin-bottom: 0;
  }

  .attr-header {
    display: block;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #ddd;

    background: #efefef;
    color: #333;
    font-weight: bold;
  }

  .attr-content {
    padding: 10px;
  }

  border-bottom: 1px solid #ddd;

  pre {
    width: 100%;
    margin: 0;
  }
}
